* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #263238;
}

section {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-container {
  width: 80%;
}

.create-input {
  padding: 12px 20px;
  font-size: 18px;
  width: 80%;
}

.create-button {
  padding: 12px 20px;
  background-color: #ce93d8;
  border: 1px solid #ce93d8;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.create-button:active {
  border: 1px white #ce93d8;
  box-shadow: 2px 2px 2px 2px #fce4ec;
}
.main-page {
  border: 1px solid black;
  text-decoration: none;
  color: white;
  padding: 4px;
  border-radius: 0.25rem;
  background-color: black;
}
.todo-container {
  padding: 30px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.todo-item {
  border: 1px solid gray;
  border-radius: 5px;
  width: 24%;
  padding: 10px 15px;
  background-color: #c8e6c9;
  margin-bottom: 20px;
}
.todo-item.done {
  background-color: #e0e0e0;
  text-decoration: line-through;
  color: #757575;
}
.todo-item.done h4,
.todo-item.done p,
.todo-item.done span {
  color: #757575;
}

.todo-item.done img {
  opacity: 0.5;
}
.todo-item.marked {
  background-color: #ffe982;
  border: 2px solid #fad66a;
}
.todo-item-header {
  display: flex;
  min-height: 35px;
}
.todo-item-header h4 {
  font-size: 18px;
  font-family: sans-serif;
}

.todo-item-header h4 a {
  text-decoration: none;
}

.todo-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-item-footer p {
  font-size: 15px;
  font-family: sans-serif;
}
.todo-item-footer .action-button {
  display: flex;
}

.todo-item-footer img {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  cursor: pointer;
}
