<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <br>
      <p><a href="{% url 'test' %}" class="btn btn-primary btn-lg">Todo проект</a></p>
      <hr>
      <p><a href="{% url 'bookstore'%}" class="btn btn-success btn-lg">BookStore проект</a></p>
    </div>
</body>
</html>