{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/checkbox.css'%}" />
</head>

<body>
    <section>
        <div class="create-container">
            <form action="{% url 'add-todo' %}" method="POST">
                {% csrf_token %}
                <input
                    type="text"
                    class="create-input"
                    placeholder="Напишите сюда новую задачу"
                    name="todo_text"
                />
                <button class="create-button">Добавить</button> <a href="{% url 'home' %}" class="main-page">Вернуться</a>
            </form>
        </div>
        <div class="todo-container">
            {% for todo in todo_list %}
                <div class="todo-item 
                    {% if todo.is_closed %}
                        done
                    {% elif todo.is_favorite %}
                        marked
                    {% endif %}
                ">
                    <div class="todo-item-header">
                    <label class="checkbox-container">
                        <input type="checkbox" 
                        {% if todo.is_closed %}
                            checked
                        {% endif %}
                        />
                        <span class="checkmark"></span>
                    </label>
                    <h4><a href="{% url 'close-todo' todo.id %}">{{ todo.text }}</a></h4>
                    </div>
                    <div class="todo-item-footer">
                    <p>{{ todo.date }}</p>
                    <div class="action-button">
                        {% if todo.is_favorite %}
                            <a href="{% url 'mark-todo' todo.id %}"><img src="{% static './images/yellow.svg' %}" alt="" /></a>
                        {% else %}
                            <a href="{% url 'mark-todo' todo.id %}"><img src="{% static './images/white.svg' %}" alt="" /></a>
                        {% endif %}
                        <a href="{% url 'delete-todo' todo.id %}"><img src="{% static './images/trashcan.svg' %}" alt="" /></a>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </section>
</body>

</html>